body{
    background-color: beige;
}
img {
    width: 900px;
    height: auto;
}
h1, h2{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
p, li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}